.workspace {
  flex: 1;
  padding: 40px 80px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1080px) {
    & {
      padding: 40px;
    }
  }
  @media (max-width: 600px) {
    & {
      padding: 0 40px;
      justify-content: unset;
    }
  }
  .search {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 15px;
    overflow: hidden;
    max-width: 400px;
    position: relative;
    @media (max-width: 600px) {
      margin: 15px 0;
    }
  .searchLabel {
    cursor: pointer;
  }
    .searchLine {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 1px;
      background: #979797;
      transition: .3s transform;
      transform: translateX(-100%);

    }

    .searchInput {
      font-weight: 500;
      font-size: 16px;
      color: #494949;
    }
  }

  .notesBlock {
    flex: 0.9;
    flex-direction: column;
    max-height: 80%;
    display: flex;
    @media (max-width: 600px) {
      & {
        max-height: 50%;
      }
    }
    @media (max-height: 745px) {
      & {
        max-height: 65vh;
      }
    }

    .notesTitle {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 32px;
    }
    .emptyNotesText {
      margin-top: 200px;
      text-align: center;
    }
    .notesList {
      max-height: 80%;
      gap: 40px 20px;
      flex-wrap: wrap;
      overflow-y: auto;
      display: flex;
      scrollbar-width: thin;
      scrollbar-color: #e3e3e3 transparent;

      @media (max-height: 745px) {
        & {
          max-height: 70%;
        }
      }
      @media (max-height: 593px) and (max-width: 500px){
        & {
          gap: 15px;
        }
      }
      @media (max-width: 1272px) {
        & {
          gap: 40px 80px;
        }
      }

      @media (max-width: 1080px) {
        & {
          gap: 40px 20px;
        }
      }
      @media (max-width: 460px) {
        & {
          flex-direction: column;
          flex-wrap: wrap;
          max-width: 100%;
          overflow-x: auto;
          gap: 15px;
          align-items: flex-start;
          justify-content: left;
          align-content: flex-start;

        }
      }
      &::-webkit-scrollbar {
        background: #e3e3e3;
        width: 3px;
        @media (max-width: 460px) {
          & {
           display: none;

          }
        }
      }
      &::-webkit-scrollbar-thumb {
        background: #3E3E3E;
      }
      .noteWrapper {
        flex: 1;
        height: fit-content;
        width: fit-content;
      }
    }
  }

  .addNoteBtn {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px;
    gap: 5px;
    align-self: end;
    cursor: pointer;
    width: fit-content;
    border-radius: 50px;
    border: 2px solid #7E7E7E;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
    transition: .3s transform;
    @media (max-width: 1486px) {
      & {
        font-size: 14px;
        padding: 6px 12px;

      }
      svg {
        width: 25px;
        height: 25px;
      }

    }
    @media (max-height: 745px) {
      & {
        margin-bottom: 3vh;
      }
    }
    &:hover {
      transform: translateY(-2px);
    }
  }
}