.noteItem {
  transition: .3s opacity;
  height: fit-content;
  &:hover {
    opacity: 0.85;
  }
  padding: 20px 30px;
  max-width: 340px;
  min-width: 340px;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1486px) {
    & {
      padding: 13px 20px;
      max-width: 280px;
      min-width: 280px;
    }


  }
  @media (max-height: 593px) {
    & {
      padding: 8px 20px;
      gap: 5px;
    }
  }
  .noteHeader {
    display: flex;
    justify-content: space-between;
    .noteHeaderLeft{
      display: flex;
      max-width: 80%;
      flex-direction: column;
      .noteTitle {
        font-weight: 600;
        max-width: 100%;
        background: inherit;
        font-size: 21px;
        line-height: 26px;
        @media (max-width: 1486px) {
          & {
            font-size: 16px;
          }

        }
      }
    }

    .noteCloseBtn {
      cursor: pointer;
    }
    .noteDate {
      font-weight: 500;
      font-size: 16px;
      max-width: fit-content;
      margin-top: 3px;
      line-height: 18px;
      color: #3E3E3E;
      @media (max-width: 1486px) {
        & {
          font-size: 14px;
        }

      }
    }

  }
  .noteBottom {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: end;
    .noteEdit {
      cursor: pointer;
    }
    .noteUpdatedDate {
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #7E7E7E;
      @media (max-width: 1486px) {
        & {
          font-size: 12px;
        }

      }
    }

  }

}