@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button, input, textarea {
    outline: none;
    border: unset;
}

body {
    background: #F3F3F3;

    max-height: 100vh;
    overflow-y: hidden;
}

.App {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
    border-radius: 50px;
    height: 95%;
    width: 95%;
    background: white;
    
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        border-radius: unset;
        height: 100%;
        width: 100%;
    }
}